<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#downloadUrl}}
    <meta http-equiv="refresh" content="0; url={{ downloadUrl }}" />
    {{/downloadUrl}}
    <title>{{ category }}</title>
    <style>
      body {
        font-family: system-ui, sans-serif;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <h1>{{ displayName }}</h1>
    <img src="{{ appIconUri }}" alt="{{ displayName }} App-Icon" />
  </body>
</html>
