<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ category }}</title>
    <style>
      html {
        color-scheme: light dark;
      }
      body {
        font-family: system-ui, sans-serif;
        margin: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      li {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
      }
      li h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
      }
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 1.25rem;
        object-fit: cover;
        border: 1px solid #f0f0f0;
        border: 1px solid light-dark(#f0f0f0, #333333);
      }
      h1,
      h2,
      p {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .categories {
        max-width: 1024px;
        margin: 0 auto;
        padding: 2rem;
      }
      .category-heading {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .category-description {
        color: #777777;
        color: light-dark(#777777, #aaaaaa);
        font-size: 0.875rem;
      }
    </style>
  </head>

  <body>
    <div class="categories">
      <h1 class="category-heading">{{ category }}</h1>
      <ul>
        {{#apps}}
        <a href="{{ url }}">
          <li class="category-app">
            <img src="{{ appIconUri }}" alt="{{ displayName }} App-Icon" />
            <h2>{{ displayName }}</h2>
            <p class="category-description">{{ description }}</p>
          </li>
        </a>
        {{/apps}}
      </ul>
    </div>
  </body>
</html>
